{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <h1>Login</h1>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Login"></p>
    </form>
{% endblock %}